- type: job
  id: ESHeadOfSecurity
  name: job-name-hos
  description: job-description-hos
  suffix: ES
  playTimeTracker: ESJobHeadOfSecurity
  requirements:
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 1h
    - !type:RoleTimeRequirement
      role: JobDetective
      time: 1h # knowing how to use the tools is important
    - !type:RoleTimeRequirement
      role: JobSecurityOfficer
      time: 5h
    - !type:DepartmentTimeRequirement
      department: Security
      time: 10h
  weight: 10
  startingGear: ESHoSGear
  icon: "JobIconHeadOfSecurity"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - HeadOfSecurity
  - Command
  - Brig
  - Security
  - Armory
  - Maintenance
  - External
  - Detective
  - Cryogenics
  - GenpopEnter
  - GenpopLeave
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: ESHoSGear
  equipment:
    shoes: ClothingShoesBootsJack
    eyes: ClothingEyesGlassesSecurity
    id: HoSPDA
    gloves: ClothingHandsGlovesCombat
    ears: ClothingHeadsetAltSecurity
    head: ClothingHeadHatHoshat
    belt: ClothingBeltSecurityFilled
    jumpsuit: ClothingUniformJumpsuitHoS
    outerClothing: ClothingOuterCoatHoSTrench
    back: ClothingBackpackSecurity
    pocket1: ESWeaponHybridTaser
  storage:
    back:
    - Flash

- type: chameleonOutfit
  id: ESHeadOfSecurityChameleonOutfit
  job: ESHeadOfSecurity
  hasMindShield: true
  equipment:
    mask: ClothingMaskGasSecurity
    neck: ClothingNeckCloakHos
